.adminPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .adminPanel .btn-container {
    margin: 55px 0;
  }
  
  .adminPanel button {
    font-size: 30px;
    width: fit-content;
  }
  