footer {
    margin-top: 100px;
    background-color: #232f3e;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
  }
  
  .footer-list {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding-left: 0;
    padding-bottom: 10px;
  }
  
  a {
    text-decoration: none;
  }
  
  .footer-link {
    color: #ddd;
  }
  
  .footer-link:hover {
    color: #fff;
  }
  
  #logo {
    width: 150px;
  }
  